{% extends 'base.html.twig' %}

{% block title %}Accueil!
{% endblock %}

{% block body %}
	
<div class="container">
	<h1>ModeTry 'Vos vêtement, Votre silouhette, Votre style'
		{{ controller_name }}
	</h1>
	<div class="row">
		<div class="col">
			<img src="{{ asset('assets/img/photos/page.webp') }}" class="page">
		</div>
		<div class="col">
			<img src="{{ asset('assets/img/photos/men.webp') }}" class="men">
		</div>
		<div class="col mt-5">
			<img src="{{ asset('assets/img/photos/bascket.webp') }}" class="jean">
		</div>
		<div class="col mt-5">
			<img src="{{ asset('assets/img/photos/escarpin noir.webp') }}" class="jean">
		</div>
	</div>
</div>{% endblock %}
